/__pycache__/
/RealLifeData/
/ML_Project_LaTeX_Synthesis/main.aux
/ML_Project_LaTeX_Synthesis/main.bbl
/ML_Project_LaTeX_Synthesis/main.bcf
/ML_Project_LaTeX_Synthesis/main.blg
/ML_Project_LaTeX_Synthesis/main.fdb_latexmk
/ML_Project_LaTeX_Synthesis/main.fls
/ML_Project_LaTeX_Synthesis/main.log
/ML_Project_LaTeX_Synthesis/main.out
/ML_Project_LaTeX_Synthesis/main.pdf
/ML_Project_LaTeX_Synthesis/main.run.xml
/ML_Project_LaTeX_Synthesis/main.synctex.gz
/ML_Project_LaTeX_Synthesis/main.toc